.filterPopover {
    z-index: 1899;

    .MuiPaper-root {
        width: 300px;
        min-height: 300px;
        background-color: #fff;
        border: 2px solid #F4149B;

        .MuiListItem-root {
            width: 100%;
            justify-content: space-between;

            .tag {
                font-family: 'Staatliches';
                height: 14px;
                width: 60px;
                font-size: 12px;
            }

            .MuiCheckbox-root {
                color: #F4149B;
            }
        }

        .no-tags {
            text-align: center;
            font-family: 'Staatliches';
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.filter {
    display: flex;
    justify-content: right;

    .filter-btn {
        width: 90px !important;
        height: 32px !important;
        background-color: #000 !important;
        border: 1px solid #FEC901 !important;
        display: flex;
        color: #FEC901 !important;
        gap: 4px;
        font-family: 'Staatliches';
        border-radius: 50px;

        .MuiSvgIcon-root {
            font-size: 16px;
        }
    }
}