.tags-action-dialog {
    .MuiBackdrop-root {
        background-color: unset;
    }

    .MuiDialog-container {
        .MuiPaper-root {
            width: 300px;
            height: 220px;
            background-color: #1B1A19;
            padding: 12px;
            font-family: 'Staatliches';

            .dialog-content {
                overflow: hidden;
                justify-content: center;
                display: flex;
                flex-direction: column;
            }

            .tags-content {
                color: #fff;
                font-size: 14px;
                text-align: center;
            }

            .tags-btn-actions {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 24px;
                height: 80px;

                .MuiButton-root {
                    border: 1px solid #000;
                    border-radius: 50px;
                    color: #fff;
                    font-family: 'Staatliches';
                    font-size: 12px;
                    height: 30px;
                    width: 100%;
                    color: #000;

                    &.add-btn {
                        background-color: #B9F140;
                    }

                    &.remove-btn {
                        background-color: #FE6B01;
                    }
                }
            }
        }
    }
}