// @import '../utils/responsiveUtils.scss';

.profile {
    font-family: 'Staatliches';

    .title {
        font-size: 30px;
        color: #fff;
        text-align: center;
        margin-bottom: 50px;
    }

    .profile-info {
        padding: 24px;
        color: #fff;
        text-align: center;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 24px;

        .MuiFormControl-root {
            background-color: #fff;
            width: 343px;

            .Mui-disabled {
                -webkit-text-fill-color: #000;
            }

            .MuiInputBase-root {
                font-family: 'Staatliches';
                font-size: 25px;
            }
        }

        .MuiButton-root {
            font-size: 8px;
            border: 1px solid #fff;
            border-radius: 50px;
            height: 15px;
            color: #fff;
            width: 50px;
            font-family: 'Staatliches';
        }

        .text {
            font-size: 25px;
            font-family: 'Staatliches';
            width: 146px;
            display: grid;
            text-align: left;

            button {
                font-size: 8px;
                border: 1px solid #fff;
                border-radius: 50px;
                height: 15px;
                color: #fff;
                width: 60px;
                font-family: 'Staatliches';
                background-color: #000;
                cursor: pointer;
            }
        }

        form {
            display: flex;
            gap: 24px;

            .upload {
                .custom-button {
                    background-color: #fff;
                    width: 343px;
                    font-family: "Staatliches";
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border: none;
                    height: 68px;
                    color: #000;
                }
            }

            input[type="file"] {
                opacity: 0;
                position: absolute;
                width: 0;
                height: 0;
            }
        }

        .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 50px;
        }

        .MuiButtonBase-root {
            &:hover {
                .MuiSvgIcon-root {
                    color: #F4149B;
                }
            }

            .MuiSvgIcon-root {
                color: #fff;
            }
        }

        .email-details {
            display: flex;
            gap: 24px;

            .verify-email-btn {
                background-color: #B9F140;
                font-family: 'Staatliches';
                color: #000;
                font-size: 15px;
                height: 58px;
                width: 120px;
                margin-top: 5px;
                margin-left: 5px;
            }

            .tag {
                margin-bottom: 4px;
            }

            .text {
                color: #B9F140;
            }
        }

        .resolution-details {
            display: flex;
            gap: 24px;

            .text {
                color: #FE6B01;
            }
        }

        .password-details {
            display: flex;
            gap: 24px;

            .text {
                color: #F4149B;
            }
        }

        .upload-logo-details {
            .text {
                color: #FEC901;
            }
        }
    }

    .delete-account {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .MuiButton-root {
            border: 1px solid #fff;
            border-radius: 50px;
            color: #fff;
            font-family: 'Staatliches';
            font-size: 10px;
            height: 32px;
            width: 110px;
        }
    }
}

@media (max-width: 600px) {
    .profile {
        .title {
            margin-bottom: 10px;
        }

        .profile-info {
            .MuiFormControl-root {
                width: 243px;

                .MuiInputBase-root {
                    font-size: 15px;
                }
            }

            .MuiButton-root {
                height: 55px;
                width: 58px;
                background-color: #B9F140;
                border-radius: 0;
                border: 4px solid #000;
                color: #000;
                font-family: 'Staatliches';
                font-size: 20px;
                margin: auto;
                border-radius: 10px 0px 0px 10px;
            }

            .email-details {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: auto;

                .email {
                    display: flex;
                }
            }

            .password-details {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin: auto;

                .MuiButton-root {
                    background-color: #F4149B;
                }

                .password {
                    display: flex;
                    align-items: center;
                }
            }

            .resolution-details {
                display: flex;
                flex-direction: column;
                gap: 0;
                margin: auto;
                gap: 16px;

                .MuiButton-root {
                    background-color: #FE6B01;
                }

                .text {
                    width: 100%;
                }

                .resolution {
                    display: flex;
                    height: 70px;
                    align-items: center;

                    .resolution-size-select-autocomplete {
                        height: unset;
                    }
                }
            }

            .upload-logo-details {
                form {
                    display: flex;
                    flex-direction: column;

                    .custom-button {
                        width: 243px;
                        height: unset;
                    }
                }

                .upload {
                    display: flex;

                    button {
                        height: 55px;
                        width: 58px;
                        background-color: #FEC901;
                        border: 4px solid #000;
                        color: #000;
                        font-family: 'Staatliches';
                        font-size: 20px;
                        margin: auto;
                        border-radius: 10px 0px 0px 10px;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }

        .delete-account {
            position: relative;

            .MuiButton-root {
                position: absolute;
                bottom: 0;
            }
        }

        .delete-account {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}