// @import '../utils/responsiveUtils.scss';

.article-showcase-dialog {
    .MuiPaper-root {
        padding: 0px;
        border: 3px solid rgba(254, 201, 1, 1);
        width: 779px;
        background-color: #000;
        color: #fff;
        font-family: 'Staatliches';

        .close-button {
            background-color: #fec901;
            width: 58px;
            height: 58px;
            border-radius: 0px 0px 0px 10px;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
        }

        .dialog-content {
            overflow-y: unset;
        }

        &::-webkit-scrollbar {
            // width: 8px;
            // height: 8px;
            background-color: transparent;
            display: none;
        }

        .MuiIconButton-root {
            position: absolute;
            right: 5px;
            top: 5px;
            color: #fff;
        }

        .article-header {
            height: 250px;
            width: 60%;
            background-color: #000;
            display: flex;
            margin: auto;
            flex: 1;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                border: 2px solid #fec901;
            }
        }

        .article-content {
            margin-top: 20px;
            font-family: 'Staatliches';

            h1 {
                color: rgba(254, 201, 1, 1);
            }

            strong {
                &.header-0 {
                    color: #F4149B;
                }

                &.header-1 {
                    color: #fec901;
                }

                &.header-2 {
                    color: #B9F140;
                }

                &.header-3 {
                    color: #FE6B01;
                }

                &.header-4 {
                    color: #F4149B;
                }

                &.header-5 {
                    color: #fec901;
                }
            }

            p {
                font-size: 13px;
            }
        }

        .article-btn {
            width: 100%;
            display: grid;
            justify-content: center;
            gap: 30px;

            .MuiButton-root {
                height: 47px;
                width: 459px;
                border-radius: 50px;
                border: 1px solid #000;
                color: #000;
                font-family: 'Staatliches';

                &.create-btn {
                    background-color: #F4149B;
                }

                &.read-more-btn {
                    background-color: #B9F140;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .responsive-dialog {
        .MuiPaper-root {
            .article-header {
                height: 150px;
            }
            .article-btn {
                .MuiButton-root {
                    width: 100%;
                }
            }
        }
    }
}