// @import '../utils/responsiveUtils.scss';

.content-seo {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Staatliches';
    background-color: #D9D9D9;

    .title {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100px;
        font-size: 40px;
        margin-top: 80px;
        margin-bottom: 40px;
    }

    .content-map {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .box-container {
            color: #000;
            font-size: 20px;
            width: calc(33.33%);
            box-sizing: border-box;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            display: grid;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 40px;
        }

        .content-boxes {
            min-width: 300px;
            height: 250px;
            border-radius: 4px;
            background-color: #000;
            position: relative;
            padding: 8px;
            &.gift-for-marketing {
                .title {
                    color: #B9F140;
                }
            }
            &.gift-for-sales {
                .title {
                    color: #F4149B;
                }
            }

            .img {
                height: 80%;

                img {
                    width: 100%;
                    height: 80%;
                }
            }

            .title {
                width: 168px;
                height: 30px;
                color: #000;
                font-size: 15px;
                padding: 4px;
                color: #FEC901;
                position: absolute;
                bottom: 0;
            }
        }

        .article-btn {
            color: #000;
            font-family: 'Staatliches';
            border: 1px solid #000;
            height: 27px;
            border-radius: 50px;
            margin-top: 10px;
            background-color: #FEC901;
            &.gift-for-sales {
                background-color: #F4149B;
            }
            &.gift-for-marketing {
                background-color: #B9F140;
            }
        }
    }
}

@media (max-width: 600px) {
    .content-seo {
        .content-map {
            .box-container {
                width: 100%;
            }
        }
    }
}