@import '../utils/responsiveUtils.scss';

.gif-landing {
    width: 100%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;

    .bottom-content {
        font-family: 'Staatliches';
        font-weight: 400;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 20px;

        .number-of-gifs-created {
            font-size: 30px;
        }

        .go-back-content {
            font-size: 15px;
        }
    }

    .back-btn {
        cursor: pointer;
        text-decoration: underline;
    }
}

@include media(phone) {
    .gif-landing {
        .action-btn {
            width: 276px !important;
            height: 50px !important;
        }
        .bottom-content {
            .number-of-gifs-created {
                font-size: 20px;
            }
            .go-back-content {
                margin-bottom: 24px;
            }
        }
    }
}