@import '../utils/responsiveUtils.scss';

.gift-spiration {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;

    .gift-spiration-info {
        width: 841px;
        height: 600px;
        display: grid;
        gap: 24px;
        margin: auto;

        .spinner-box {
            display: flex;
            justify-content: center;
        }

        .spinner-container {
            margin: auto;
            cursor: pointer;
        }

        .title {
            color: #FEC901;
            font-size: 40px;
            font-family: 'Staatliches';
            text-align: left;
        }

        span {
            color: #fff;
            font-family: 'Staatliches';
            text-align: left;

            span {
                color: #FEC901;
            }
        }
    }
}

@include media(phone) {
    .gift-spiration {
        .gift-spiration-info {
            width: unset;
            height: unset;
            padding: 24px;
            .spinner-container {
                margin-top: 50px;
            }
        }
    }
}