.loading {
    .MuiCircularProgress-root {
        width: 200px !important;
        height: 200px !important;
        display: flex;
        justify-content: center;

        .MuiCircularProgress-svg {
            color: rgba(244, 20, 155, 1) !important;
        }
    }

    .MuiTypography-root {
        color: #fff !important;
        font-size: 30px;
    }
}