@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.menu-btn {
    background-color: #FEC901 !important;
    width: 110px !important;
    height: 32px !important;
    border-radius: 50px !important;
    border: 1px solid #000 !important;
    color: #000 !important;
    font-family: 'Staatliches' !important;
    font-weight: 400 !important;
    position: relative;
    &.hide {
        background-color: transparent !important;
        color: transparent !important;
    }
}