.multiple-gif-generator {
    .text-field-content {
        background-color: #575757;
        height: 500px;
        width: 60%;
        margin: auto;
        font-family: 'Staatliches';

        .text-field-header {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            height: 40px;
            color: #fff;

            div {
                align-items: center;
                display: flex;
            }
        }

        .url-inputs {
            display: grid;
            gap: 16px;
            justify-content: center;

            .MuiBox-root {
                display: flex;
                gap: 16px;

                div {
                    .MuiFormLabel-root {
                        text-align: left;
                    }
                    .MuiFormControl-root {
                        width: 225px;
                        height: 45px;
                    }
                    .MuiInputBase-root {
                        background-color: #fff;
                        border-radius: 0 !important;
                        height: 86px;
                    }
                }
            }
        }
    }
}