@import '../utils/responsiveUtils.scss';

.what-is-gift {
    width: 100%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;

    .gift-info {
        width: 608px;
        height: 474px;
        display: grid;
        gap: 24px;
        margin: auto;

        .title {
            color: #FEC901;
            font-size: 40px;
            font-family: 'Staatliches';
        }

        span {
            color: #fff;
            font-family: 'Staatliches';
        }
    }
}

@include media(phone) {
    .what-is-gift {
        .gift-info {
            width: unset;
            height: unset;
            padding: 24px;
            margin-bottom: 24px;
            .title {
                font-size: 24px;
            }
            span {
                font-size: 13px;
            }
        }
    }
}