// @import '../utils/responsiveUtils.scss';

.multiple-gif-generator {
    margin: 0;

    .text-field-content {
        height: 500px;
        padding: 40px;
        width: 80%;
        margin: auto;
        font-family: 'Staatliches';

        .text-field-header {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            font-size: 30px;
            color: #fff;

            div {
                align-items: center;
                display: flex;
            }
        }

        .url-inputs {
            justify-content: center;
            width: 100%;
            margin: auto;
            display: grid;
            margin-top: 40px;

            .MuiBox-root {
                display: flex;
                width: 100%;

                .MuiIconButton-root {
                    top: 10px;

                    .MuiSvgIcon-root {
                        color: #F4149B;
                    }
                }

                .inputs {
                    display: flex;
                    gap: 50px;

                    div {
                        min-width: 45%;

                        .MuiFormLabel-root {
                            text-align: left;
                            color: #fff;
                        }

                        .MuiFormControl-root {
                            width: 290px;
                            height: 45px;
                        }

                        .MuiInputBase-root {
                            background-color: #fff;
                            border-radius: 0 !important;
                            height: 40px;
                            font-family: 'Staatliches';
                        }

                        .name-input {
                            .MuiInputBase-root {
                                .MuiOutlinedInput-input {
                                    color: rgba(244, 20, 155, 0.5);
                                }
                            }
                        }
                    }
                }
            }

            .add-btn {
                margin-top: 50px;

                .MuiButtonBase-root {
                    background-color: #fec901;

                    svg {
                        color: #000;
                        font-size: 30px;
                    }
                }
            }
        }

        .btn-content {
            margin-top: 50px;
            .official-btn {
                width: 225px !important;
            }
        }
    }
}

@media (max-width: 600px) {
    .multiple-gif-generator {
        .text-field-content {
            padding: 8px;
            width: 100%;

            .url-inputs {
                .MuiIconButton-root {
                    right: 10px;
                }

                .input-fields {
                    .inputs {
                        gap: 8px;

                        div {
                            .MuiFormControl-root {
                                width: 90%;
                            }
                        }

                        .MuiBox-root {
                            gap: 8px;
                            display: unset;
                        }
                    }
                }
            }
        }
    }
}