// @import '../../utils/responsiveUtils.scss';

.authorization {
    width: 100%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;

    .user-authentication {
        width: 480px;
        gap: 24px;
        display: grid;
        margin: auto;
        font-family: 'Staatliches';

        .user-details {
            width: 100%;
        }

        .password-details {
            gap: 8px;
        }

        .user-title {
            color: #fff;
            margin: auto;
            font-size: 30px;
        }

        .MuiFormLabel-root {
            color: #fff;
            text-align: left;
            font-family: 'Staatliches';
        }

        .MuiTextField-root {
            width: 100%;
            min-width: 225px;

            input:-webkit-autofill {
                box-shadow: 0 0 0 50px #fff inset;
            }

            .MuiInputBase-root {
                background-color: #fff;
                height: 86px;
                font-family: 'Staatliches';
                font-size: 25px;
            }

            .Mui-error {
                color: #F4149B;
                font-family: 'Staatliches';
                margin-left: 0;
            }
        }

        .buttons {

            .no-account {
                color: #fff;
                font-family: 'Staatliches';
                margin-top: 24px;

                span {
                    cursor: pointer;
                    color: #F4149B;
                }
            }
        }

        .checkbox {
            color: #fff;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;

            .MuiCheckbox-root {
                color: #fff;

                svg {
                    font-size: 40px;
                }

                &.Mui-checked {
                    color: #F4149B;
                }
            }

            div {
                width: 216px;
                font-size: 12px;
            }
        }

        .error {
            color: #F4149B;
        }
    }
}

@media (max-width: 600px) {
    .authorization {
        .user-authentication {
            width: 80%;
            display: grid;
            justify-content: center;
        }
    }
}