.custom-google-login-button {
    width: 480px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto !important;
    background-color: transparent !important;
    height: 50px !important;

    .custom-google-login-button {
        width: 480px;
        background-color: transparent !important;
    }
}

.custom-google-login-button {
    width: 480px;
    background-color: transparent !important;
}