.outlook-btn {
    background-color: #F3F3F3;
    color: #000;
    border: 1px solid #C8C8C8;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 400px;
    height: 40px;

    div {
        margin: auto;
    }

    &:hover {
        background-color: #E1E1E1;
    }

    .outlook-logo {
        background-size: contain;

        img {
            width: 20px;
            height: 20px;
        }

    }
}