// @import '../utils/responsiveUtils.scss';

.design-gif-dialog {
    .header-content {
        height: 50px;
    }

    .MuiPaper-root {
        background-color: #000;
        box-shadow: 10px #fff;
        max-width: unset;
        max-height: unset;
        width: 100%;
        height: 100%;
    }

    .close-button {
        top: 40px;
        right: 40px;
        position: absolute;
        width: 78px;
        height: 28px;
        border: 1px solid #fff;
        color: #fff;
        font-family: 'Staatliches';
        border-radius: 50px;
        font-size: 12px;
    }

    .dialog-content {
        padding-top: 0;
    }

    .content {
        padding: 24px;
        min-width: 800px;
        display: flex;
        flex-direction: column;
        margin: auto;

        .title {
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-family: 'Staatliches';
            align-items: center;
            text-align: center;
            margin-top: 20px;

            .main-title {
                font-size: 32px;
                color: #fff;

                span {
                    color: #F4149B;
                }
            }

            .sub-title {
                font-size: 22px;
                color: #fff;
                width: 500px;

                span {
                    color: #FEC901;
                }
            }
        }

        .style-content {
            display: flex;
            width: 100%;
            gap: 24px;
            margin-top: 50px;

            .right-content {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 24px;

                .top-right-content {
                    width: 500px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;

                    .tabs {
                        width: 100%;
                        padding: 0;
                    }

                    .description {
                        color: #fff;
                        font-family: 'Staatliches';
                        width: 350px;
                        text-align: center;
                        font-size: 18px;

                        span {
                            color: #808080;
                        }
                    }
                }

                .container {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    .gif-images {
                        overflow: hidden;
                    }

                    .gifImages {
                        display: flex;
                        flex-wrap: wrap;
                        overflow: auto;
                        height: 100%;
                        max-height: 300px;
                        gap: 8px;
                        width: 452px;
                        justify-content: center;

                        img {
                            width: 100px;
                            height: 80px;
                            cursor: pointer;

                            &.selected {
                                border: 3px solid #F4149B;
                            }
                        }
                    }

                    .MuiButtonBase-root {
                        background-color: #000;
                        border: 1px solid #FEC901;
                        border-radius: 50px;
                        color: #FEC901;
                        min-width: 148px;
                        padding: 7px 45px 7px 37px;
                        margin: auto;
                        font-family: 'Staatliches';
                        display: flex;
                        gap: 8px;

                        .MuiSvgIcon-root {
                            font-size: 20px;
                        }
                    }
                }
            }

            .left-content {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 24px;
                align-items: center;

                .gif-name-section {
                    color: #fff;
                    display: flex;
                    align-items: center;

                    span {
                        max-width: 180px;
                        align-items: center;
                        display: flex;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-family: 'Staatliches';
                    }

                    .MuiOutlinedInput-input:focus {
                        border-color: transparent !important;
                        border: transparent !important;

                        &:focus {
                            border-color: transparent !important;
                            border: transparent !important;
                            outline: 0;
                        }

                        &.Mui-focused {
                            border-color: transparent !important;
                        }
                    }

                    .MuiOutlinedInput-root {
                        &.Mui-focused .MuiOutlinedInput-notchedOutline {
                            border-color: transparent;
                        }
                    }

                    .MuiInputBase-root {
                        height: 20px !important;
                        margin-top: 0 !important;
                        width: 180px;
                        color: #fff;
                        font-family: 'Staatliches';
                        border: transparent;

                        &:focus {
                            border-color: transparent !important;
                            border: transparent !important;
                            outline: 0;
                        }
                    }

                    .MuiIconButton-root {
                        width: 24px;
                        height: 24px;

                        .MuiSvgIcon-root {
                            color: #fff;
                            font-size: 16px;
                        }

                        .edit {
                            font-size: 12px;
                        }

                        .confirm {
                            color: #B9F140;
                        }

                        .close {
                            color: #FE6B01;
                        }
                    }
                }

                .image-with-tag {
                    .tags-items {
                        display: flex;
                        gap: 8px;

                        .tag {
                            font-family: 'Staatliches';
                            height: 14px;
                            width: 70px;
                            font-size: 12px;
                            height: 22px;
                            position: relative;

                            .MuiIconButton-root {
                                width: 10px;
                                height: 12px;
                                position: absolute;
                                right: 3px;

                                .MuiSvgIcon-root {
                                    font-size: 12px;
                                    color: #000;
                                }
                            }
                        }
                    }
                }

                .left-title {
                    color: #fff;
                    font-family: 'Staatliches';
                    font-size: 30px;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .image-frame-container {
                    display: flex;
                    justify-content: center;
                    position: relative;

                    .loading-spinner {
                        height: 250px;
                    }

                    img {
                        height: 250px;
                        max-width: 375px;

                        &:nth-child(2) {
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 10;
                        }
                    }

                    .delete {
                        position: absolute;
                        right: 0;
                        width: 18px;
                        background-color: #FE6B01;
                        width: 20px;
                        height: 20px;

                        svg {
                            color: #000;
                            font-size: 16px;
                        }
                    }
                }

                .slider-container {
                    width: 350px;
                    height: 40px;

                    .slider {
                        width: 100%;
                        display: flex;
                        color: #fff;
                        align-items: center;
                        gap: 20px;

                        span {
                            font-family: 'Staatliches';
                        }

                        .MuiSlider-root {
                            color: grey;
                            width: 300px;
                            margin-bottom: 0px;

                            .MuiSlider-mark {
                                color: #fff;
                                height: 4px;
                                width: 2px;
                            }

                            .MuiSlider-thumb {
                                color: #fff;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .image {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    img {
                        max-width: 375px;
                        height: 250px;
                    }
                }
            }
        }

        .navigate {
            display: flex;
        }

        .container {
            min-height: 300px;
        }

        .tabs-level-2 {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            .tab-item {
                .tab-wrapper {
                    color: #FEC901;
                }

                &.active {
                    .tab-wrapper {
                        border-bottom: 2px solid #FEC901;
                    }
                }
            }
        }

        .select-color-container {
            display: flex;
            width: 240px;
            height: 240px;
            flex-direction: column;

            .colors {
                width: 240px;
                height: 240px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .MuiBox-root {
                    min-width: 60px;
                    cursor: pointer;
                    box-sizing: border-box;
                    flex: 1 0 calc(25% - 30px);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 20px;
                        position: absolute;
                    }
                }
            }
        }

        .select-frame-container {
            width: 40%;

            .frames {
                display: flex;
                gap: 16px;
                flex-wrap: wrap;

                .MuiBox-root {
                    border-radius: 100px;
                    background-color: #2C2A2A;
                    width: 85px;
                    height: 85px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.alien {
                        border: 2px solid #B9F140;
                    }

                    &.robotic {
                        border: 2px solid #83CEF8;
                    }

                    &.chicken {
                        border: 2px solid #F4149B;
                    }

                    &.woman {
                        border: 2px solid #110946;
                    }

                    &.unicorn {
                        background-color: #FD95A7;
                        border: 2px solid #FD95A7;
                    }

                    &.girafe {
                        border: 2px solid #FEC901;
                    }
                }

                img {
                    width: 40px;
                }
            }
        }

        .action-content {
            justify-content: center;
            text-align: center;
            gap: 16px;
            padding: 24px;
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;

            .title {
                font-size: 28px;
                line-height: 32px;
            }

            .description {
                font-size: 18px;
                color: rgba(0, 0, 0, 0.6);
                line-height: 24px;
            }

            .step {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.6);
                line-height: 16px;
            }

            .buttons {
                display: flex;
                justify-content: center;
                gap: 8px;

                .MuiButton-root {
                    background-color: #FEC901;
                    width: 255px;
                    border-radius: 50px;
                    border: 1px solid 1px;
                    height: 47px;
                    color: #000;
                    font-family: 'Staatliches';
                    font-size: 20px;
                }
            }
        }

        .tags {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .tags-input {
                display: flex;

                .MuiFormControl-root {
                    height: 55px;

                    .MuiInputBase-root {
                        font-size: 15px;
                        height: 55px;
                        background-color: #fff;
                        border-radius: 0;
                        font-family: 'Staatliches';
                    }
                }

                .label {
                    height: 55px;
                    width: 58px;
                    background-color: #FEC901;
                    border-radius: 0;
                    color: #000;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    font-family: 'Staatliches';
                    font-size: 20px;
                    border-radius: 10px 0px 0px 10px;
                }
            }

            .tags-display {
                background-color: #808080;
                max-width: 341px;
                min-width: 341px;
                height: 180px;
                display: flex;
                flex-wrap: wrap;
                padding: 8px;
                overflow: hidden;

                .tags-items {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                    width: 100%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .tag {
                        width: 84px;
                        font-size: 15px;
                        padding: 2px 4px;
                        font-family: 'Staatliches';
                        height: 22px;
                        border: 2px solid #000;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }

                    .info {
                        color: #3F3F3F;
                        font-family: 'Staatliches';
                        font-size: 14px;
                        height: 24px;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .design-gif-dialog {
        .MuiPaper-root {
            margin: 0;

            .content {
                min-width: 100%;
                padding: 0;
                margin-top: 100px;
                gap: 20px;

                .title {
                    color: rgba(255, 255, 255, 0.5);
                    font-family: 'Staatliches';
                    font-size: 25px;
                    width: 281px;
                    text-align: center;
                    margin: auto;
                }

                .container {
                    display: grid;
                    justify-content: center;
                    gap: 24px;
                }

                .select-color-container {
                    margin: auto;
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    gap: 8px;

                    .colors {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        width: 170px;
                        height: 170px;

                        .MuiBox-root {
                            min-width: 85px;
                        }
                    }

                    &.mobile-view {
                        display: flex;
                        height: 170px;

                        .MuiIconButton-root {

                            img {
                                width: 40px;
                            }
                        }
                    }
                }

                .image {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 271px;
                        height: 189px;
                    }
                }

                .action-content {
                    padding: 0;
                }

                .buttons {
                    display: flex;
                    justify-content: center;
                    gap: 8px;

                    .MuiButton-root {
                        background-color: #FEC901;
                        width: 286px;
                        border-radius: 50px;
                        border: 1px solid 1px;
                        height: 47px;
                        color: #000;
                        font-family: 'Staatliches';
                        font-size: 20px;
                    }
                }
            }
        }
    }
}