@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.edit-email {

    .example-email {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        min-height: 250px;
        min-width: 500px;

        label {
            margin-bottom: 8px;
        }

        .email-textarea {
            width: 100%;
            min-height: 80px;
            font-size: 14px;
            font-family: 'Roboto';
            background-color: #3F3F3F;
            color: #fff;
            border-radius: 4px;
            resize: vertical;
            box-sizing: border-box;
            padding: 12px;
        }
    }
}