// @import '../utils/responsiveUtils.scss';

.choose-option-create {
    width: 100%;
    text-align: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;

    .container {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .choose-option-create-info {
        display: grid;
        gap: 50px;
        justify-content: center;

        .container {
            font-family: 'Staatliches';
            color: #fff;

            .title {
                font-size: 100px;
            }

            .sub-title {
                font-size: 30px;
                display: flex;
                gap: 8px;

                .MuiSvgIcon-root {
                    cursor: pointer;
                }
            }
        }

        .enter-btn {
            display: grid;
            gap: 24px;
            margin: auto;

            .official-btn {
                width: 459px;
                height: 60px;

                &.create-one {
                    background-color: rgba(254, 201, 1, 1);
                }

                &.create-several {
                    background-color: rgba(244, 20, 155, 1);
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .choose-option-create {
        .choose-option-create-info {
            padding: 24px;

            .container {
                width: 234px;
                margin: auto;

                .title {
                    font-size: 50px;
                }
            }

            .enter-btn {
                display: unset;

                .MuiButton-root {
                    width: 100%;
                    font-size: 25px;
                    margin-bottom: 24px;
                    height: 50px;
                }
            }
        }
    }
}