// @import '../utils/responsiveUtils.scss';

.header-content {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .header-text {
        position: relative;
        left: 20px;
    }

    .header {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Staatliches';
        font-size: 50px;
        font-weight: 400;
        cursor: pointer;

        img {
            width: 200px;
            height: 100px;
        }
    }

    .sub-header {
        font-size: 20px;
        font-family: 'Staatliches';
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
    }

    .menu-btn {
        right: 40px;
        top: 24px;
    }
}

@media (max-width: 600px) {
    .header-content {
        height: 150px;

        .MuiIconButton-root {
            right: 20px;
            top: 12px;
            width: 40px;
            height: 40px;

            .MuiSvgIcon-root {
                font-size: 40px;

                path {
                    color: rgba(254, 201, 1, 1);
                }
            }
        }

        .header-text {
            left: 0;
        }

        .header {
            font-size: 35px;
            height: 70px;

            img {
                width: 100px;
                height: 70px;
            }
        }
    }
}